body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/3_notary_n8.jpg);
    background-color: rgb(138, 136, 160);
    opacity: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.1em;
    line-height: 1.5;
    font-family: 'Palanquin', sans-serif;
    text-align: center;
    overflow-x: hidden;
        
} 

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(208, 209, 161);


}


.nav-links{
    display: flex;
    background-color: cornsilk;
    justify-content: space-around;
    width: 40%;


}

.nav-links a{
    color: rgb(31, 19, 19);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}  

.nav-links li{
    list-style: none;
}


    



.img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4{
    margin: 0;
    padding: 1em 0;

}

p {
    margin: 0;
    padding: 1em 0;
}

.estimatebtn{
    display: inline-block;
    background: slategrey;
    color: snow;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid black;
    margin: .5em 0;
}

.estimatebtn:hover {
    background: snow;
    color: slategrey;
}

.calc-btn{
    display: inline-block;
    background: slategrey;
    color: snow;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid black;
    margin: .5em 0;
}

.calc-btn:hover {
    background: snow;
    color: slategrey;
}




#landing {
    min-height: 450px;
    color: snow;
    text-align: center;
}
    

#landing .bg-image{
    position: absolute;
    background: darkgrey url("\\images\InspireExchange-notarypic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 50%;
}






.welcome{
    text-align: left;
    color: rgb(103, 98, 167);
    flex-direction: row;
}

.client input{

    padding-top: 20px;
    margin:  auto;
    text-align: left;
    background-color:rgb(224, 220, 220);
    max-width: 800px;
    max-height: 800px;
    cursor: pointer;
    border-bottom: 2px solid black;
    outline: none;
    display: flex;
    justify-content: center;
    border: none;

}

.client label{
    display:block;
    width: 340px;
    
}

.contact{
     display: flex;
     max-width: 800px;
     text-align: left;

}


   
.logo{
    color: tomato;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;             
    opacity: 100%;

}





.burger{
     display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: cornflowerblue;
    transition: all 0.3s ease;

}

.nav-links{
    position: absolute;
    right:0px;
    height: 92vh;
    top: 8vh;
    overflow: hidden;
    color: #000;
    background-color: rgb(208, 209, 161);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

/* Hamburger Nav Animation*/
.nav-links li{
    opacity:0;
}

.burger{
    display: block;
    cursor: pointer;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.xmovement .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    
}
.xmovement .line2{
    opacity: 0;
    
}
.xmovement .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
}



    

}

/*Tablet*/
@media screen and (min-width:768px){
    body{
      background-image: none;
      
  
  
     }
    .nav-links{
        width: 60%;
        overflow: hidden;
    }

        
}